h1 {
    color: whitesmoke;
}

.heading{
    background-color: teal;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.pics{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pic1{
    border-radius: 20px;
    background-color: white;
    width: 310px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: lightseagreen ;
}